* {
    box-sizing: border-box;
    padding: 0;

}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    padding: 0;
}

/*-----------------------------------*/

header {
    display: flex;
}

.logo {
    margin-top: 55px;
    margin-left: 50px;
}

.logo-mobile {
    margin-top: 12px;
    padding-left: 30px;
    background-color: white;
}

/***Nav desktop start***/

.desktop_nav {
    width: 100%;
    background-color: white;
}

.desktop_nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

.desktop_nav li {
    display: flex !important;
    justify-content: center;
    width: 30%;
    max-width: 170px;
    height: 100%;
    display: block;
}

.desktop_nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #363636;
    display: block;
    width: 100%;
    padding: 30px 0 20px 0;
}

@keyframes skift {
    from {
        background-color: white;
    }
    to {
        background-color: #193A66;
    }
}

.desktop_nav a:hover {
    color: white;
    animation-name: skift;
    animation-duration: 1s;
    background-color: #193A66;
}

/***Nav desktop slut***/

/***Nav mobile start***/

.mobile_nav {
    background-color: white;
    width: 100%;
    height: 100px;
    height: 3rem;
    display: none;
    position: absolute;
}

#mblIcon {
    cursor: pointer;
    height: 1.5rem;
    width: 2rem;
    position: absolute;
    right: 30px;
    top: 30px;
}

#mblIcon:hover #hamb,
#mblIcon:hover #hamb:before,
#mblIcon:hover #hamb:after {
    background: #193A66;
}

#hamb {
    background: #193A66;
    width: 1.8rem;
    height: 3px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#hamb:before {
    content: "";
    background: #193A66;
    width: 1.8rem;
    height: 3px;
    margin-top: .45rem;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#hamb:after {
    content: "";
    background: #193A66;
    width: 1.8rem;
    height: 3px;
    margin-top: .3rem;
    float: right;
    right: .75rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#hamb.active {
    background: #193A66;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: .4rem;
}

#hamb.active:before {
    background: #193A66;
    margin-top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#hamb.active:after {
    background: white;
    margin-top: -.2rem;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
}

.mobile_nav ul {
    margin: 0;
    background-color: white;
    padding-top: 3rem;
    width: 100%;
}

.mobile_nav ul li {
    color: #363636;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    list-style: none;
    padding: 1rem;
    margin-left: 0;
}

.mobile_nav ul li:hover {
    background-color: white;
}

.mobile_nav ul a {
    color: #363636;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.mobile_nav ul a:hover {
    color: #193A66;
    font-weight: 600;
}

.mobile_nav ul:last-child {
    padding-bottom: 2rem;
}

#mobile {
    display: none;
}

#mobile a {
    opacity: 0;
}

#mobile a.vis {
    opacity: 1;
}

.mobile_nav a:-webkit-any-link {
    text-decoration: none;
}

/***Nav mobile slut***/

/*Om start*/

#om img {
    width: 100%;
}

#om p {
    font-family: sans-serif;
}

/*Om slut*/

/*Forside start*/

#forside .column {
    flex-grow: 1;
    flex-basis: 400px;
}

#forside .column_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#forside img {
    width: 100%;
}

#forside .box {
    width: 150px;
    height: 75px;
    border: 1px solid #FFFFFF;
    background-color: black;
    color: white;
    float: left;

}

#forside .box p {
    color: white;
    text-align: center;
}


/*Forside slut*/

/*Kontakt start*/

/*Form start*/

#kontakt form {
    flex-grow: 2;
    max-width: 400px;
    padding: 25px 10px;

}

#kontakt li {
    margin: 10px 0px;
    list-style: none;

}

#kontakt .kontakt_form .name {
    width: 49%;



}

#kontakt .kontakt_form .email {
    width: 100%;

}

#kontakt .kontakt_form .besked {
    width: 100%;

}

#kontakt .kontakt_form input[type=submit],
.kontakt_form input[type=button] {
    background: #777777;
    padding: 10px 18px;
    border: none;
    color: #ffffff;

}

#kontakt .kontakt_form input,
textarea {


    border: 1px solid #aaaaaa;
    padding: 10px;

}

#kontakt .kontakt_form input:focus,
textarea:focus {

    border: 1px solid #6d6d6d;
}


#kontakt .kontakt_form input[type=submit]:hover {
    background: #4b4b4b;


}


/*Form slut*/

#kontakt .row {
    display: flex;
    flex-wrap: wrap;

}

#kontakt .boks {
    flex-grow: 1;
}


#kontakt .column_narrow {
    flex-grow: 1;
}

/*Kontakt slut*/

/*Footer desktop start*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    background: black;

}

footer figure {
    text-align: center;
}

footer img {
    width: 30px;
    height: 30px;

}

footer figcaption {
    padding-top: 10px;
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 800px) {}


/*Media queries*/

@media only screen and (max-width: 700px) {
    .mobile_nav {
        display: block;
    }
    .desktop_nav {
        display: none;
    }
    .logo {
        margin-top: 12px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 1280px) {
    footer figcaption {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1100px) {
    footer figcaption {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 930px) {
    footer figcaption {
        font-size: 0
    }

}


@media screen and (max-width: 570px) {


    footer img {
        height: 40px;
        width: 40px;

    }
}

/*    Biler starter her*/

#biler {
    margin: 15px;
}

#biler .row1 {
    display: block;
}

#biler .text {
    padding: 10px;
}

#biler p {
    display: inline;
}

#biler h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
}

#biler .boks1 {
    margin-bottom: 15px;
}

#biler .boks {
    display: block;
    width: 100%;
    height: 35px;
    padding: 10px;
    background-color: rgba(170, 170, 170, 0.15);
    border: 1px solid #ccc;
}

#biler img {
    width: 100%;
    height: auto;
    margin-left: 15px;
}

#biler .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#biler .column_narrow {
    width: 35%;
}


#biler .column_wide {
    margin: 22px;
    width: 65%;
    text-align: left;
}

@media screen and (min-width: 700px) {
    #biler .row1 {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    #biler .boks1 {
        width: 25%;
        margin: 0 20px;
    }
    #biler .boks1 .boks {
        display: flex;
        align-items: center;
    }
    #biler .boks1 .boks p {
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    #biler .row {
        display: flex;
        flex-direction: column;
    }
    #biler img {
        width: 250px;
        height: auto;
    }

}

/*    Biler slutter her*/
