* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    padding: 0;
}

/*-----------------------------------*/

header {
    display: flex;
}

.logo {
    margin-top: 55px;
    margin-left: 50px;
}

.logo-mobile {
    margin-top: 12px;
    padding-left: 30px;
    background-color: white;
}

/***Nav desktop start***/

.desktop_nav {
    width: 100%;
    background-color: white;
}

.desktop_nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

.desktop_nav li {
    display: flex !important;
    justify-content: center;
    width: 30%;
    max-width: 170px;
    height: 100%;
    display: block;
}

.desktop_nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #363636;
    display: block;
    width: 100%;
    padding: 30px 0 20px 0;
}

@keyframes skift {
    from {
        background-color: white;
    }
    to {
        background-color: #193A66;
    }
}

.desktop_nav a:hover {
    color: white;
    animation-name: skift;
    animation-duration: 1s;
    background-color: #193A66;
}

/***Nav desktop slut***/

/*-----------------------------------*/

/***Nav mobile start***/

.mobile_nav {
    background-color: white;
    width: 100%;
    height: 100px;
    height: 3rem;
    display: none;
    position: absolute;
}

#mblIcon {
    cursor: pointer;
    height: 1.5rem;
    width: 2rem;
    position: absolute;
    right: 30px;
    top: 30px;
}

#mblIcon:hover #hamb,
#mblIcon:hover #hamb:before,
#mblIcon:hover #hamb:after {
    background: #193A66;
}

#hamb {
    background: #193A66;
    width: 1.8rem;
    height: 3px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#hamb:before {
    content: "";
    background: #193A66;
    width: 1.8rem;
    height: 3px;
    margin-top: .45rem;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#hamb:after {
    content: "";
    background: #193A66;
    width: 1.8rem;
    height: 3px;
    margin-top: .3rem;
    float: right;
    right: .75rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#hamb.active {
    background: #193A66;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: .4rem;
}

#hamb.active:before {
    background: #193A66;
    margin-top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#hamb.active:after {
    background: white;
    margin-top: -.2rem;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
}

.mobile_nav ul {
    margin: 0;
    background-color: white;
    padding-top: 3rem;
    width: 100%;
}

.mobile_nav ul li {
    color: #363636;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    list-style: none;
    padding: 1rem;
    margin-left: 0;
}

.mobile_nav ul li:hover {
    background-color: white;
}

.mobile_nav ul a {
    color: #363636;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.mobile_nav ul a:hover {
    color: #193A66;
    font-weight: 600;
}

.mobile_nav ul:last-child {
    padding-bottom: 2rem;
}

#mobile {
    display: none;
}

#mobile a {
    opacity: 0;
}

#mobile a.vis {
    opacity: 1;
}

.mobile_nav a:-webkit-any-link {
    text-decoration: none;
}

/***Nav mobile slut***/

/*-----------------------------------*/

#om img {
    width: 100%;
}

#om p {
    font-family: sans-serif;
}


#forside .column {
    flex-grow: 1;
    flex-basis: 400px;
}

#forside .column_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#forside img {
    width: 100%;
}

#forside .box {
    width: 150px;
    height: 75px;
    border: 1px solid #FFFFFFFF;
    background-color: black;
    color: white;
    float: left;

}

#forside .box p {

    color: white;
    text-align: center;

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

footer figure {
    text-align: center;
}

footer img {
    width: 2vw;
    height: 2vw;

}

footer figcaption {
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 800px) {
    .mobile_nav {
        display: block;
    }
    .desktop_nav {
        display: none;
    }

    .logo {
        margin-top: 12px;
        margin-left: 30px;
    }
}
